<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<img th:src="${board.src}" />
	<div th:each=" player :${board.turnOrder}">
		<img id="piao" th:src="${player.src}" alt=""
		th:style="'position:absolute; border:3px solid #73AD21; width:30px; height:30px; top:'+${player.y}+'%; left:'+${player.x}+'%;'" />
	</div>
</body>
<script>
	function myFunction(e) {
		console.log(e);
	}
</script>
<!--style>
	body{
		background-image: url(@{/powergrid.jpg});
		background-size: cover;
	}
</style-->

</html>

<!--div id="dp-container"  th:style="'background-image:url(' + ${dpurl} + ');'"-->